-title "Users Stuff"

-for user in @users
  %div{:class => "user"}
    %h3
      = link_to h(user.name), user
    %div{:class => "actions"}
      = link_to "Edit", edit_user_path(user)
      |
      = link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete 
%p
  = link_to "New Profile image", new_user_path
